<div class="container-fluid p-0 position-relative">
    <div class="alert alert-dismissible alert-light position-absolute top-50 start-50 translate-middle" style="opacity: 0.6; width: 350px; height:70px"></div>
    <h2 class="text-center text-dark position-absolute top-50 start-50 translate-middle">{{ trick.name }}</h2>

    {% set featuredImage = "" %}
    {% set idImage = "" %}
    {% for image in trick.images %}
        {% if image.featuredImage %}
            {% set featuredImage = image.name %}
            {% set idImage = image.id %}
        {% endif %}
    {% endfor %}

    {% if featuredImage is not empty %}

        <img src="{{ asset('/uploads/images/' ~ featuredImage) }}" alt="Image" class="card-img-top rounded-2">
        <div class="d-flex position-absolute bg-light top-0 end-0 p-2">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {{ include ('image/_modal_edit_featuredImage.html.twig') }}
                {{ include ('image/_delete_featuredImage.html.twig') }}
            {%  endif %}
        </div>

    {% else %}

        <img src="https://unsplash.com/photos/xSNaPoQ0H9M/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NHx8bW91bnRhaW4lMjBzbm93Ym9hcmR8ZW58MHx8fHwxNjU5NjMxNTQz&force=true" class="card-img-top" alt="Default image">
        <div class="d-flex position-absolute bg-light top-0 end-0 p-2">
            {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {{ include ('image/_modal_edit_featuredImage.html.twig') }}
            {%  endif %}
        </div>

    {% endif %}

</div>