<div class="mb-3 d-grid col-8 mx-auto text-center">
    {{ form_label(trickForm.name, 'Nom de la figure') }}
    {{ form_errors(trickForm.name) }}
    {{ form_widget(trickForm.name) }}
</div>

<div class="mb-3 d-grid col-8 mx-auto text-center">
    {{ form_label(trickForm.description, 'Description') }}
    {{ form_errors(trickForm.description) }}
    {{ form_widget(trickForm.description) }}
</div>

<div class="mb-3 d-grid col-8 mx-auto text-center">
    {{ form_label(trickForm.category, 'Sélectionner une catégorie') }}
    {{ form_errors(trickForm.category) }}
    {{ form_widget(trickForm.category) }}
</div>
