{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1 class="mt-3 mb-5 text-center">Modifier une figure de Snowboard</h1>
                    {{ form_start(trickForm) }}

                        {{ include ('image/edit_featuredImage.html.twig') }}

                        <div class="display-media d-lg-block d-none">
                            {{ include ('image/edit_image.html.twig') }}
                            {{ include ('image/new_image.html.twig') }}
                            <hr>
                            {% if trick.videos is not null %}
                                {{ include ('video/edit_video.html.twig') }}
                            {% endif %}
                            {{ include ('video/new_video.html.twig') }}
                            {{ form_row(trickForm.videos, {"attr": {"class": "d-none"}}) }}
                        </div>

                        <div class="text-center p-2">
                            <div class="d-md-block d-lg-none">
                                    <button id="loadMedia" class="btn btn-primary p-2 ">Afficher les médias</button>
                            </div>
                            <div class="d-md-block d-lg-none ">
                                <button id="hideMedia" class="btn btn-primary p-2 d-none">Masquer les médias</button>
                            </div>
                        </div>
                        <hr>

                        {{ include('trick/_form.html.twig') }}

                        <div class="d-flex col-8 mx-auto justify-content-evenly">
                            <div>
                                <a href="{{ path('app_trick_delete', {'id': trick.id}) }}"
                                   class="btn btn-danger"
                                   role="button"
                                   onclick="return confirm('Voulez-vous vraiment supprimer cette figure ?')">
                                    Supprimer
                                </a>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Modifier</button>
                            </div>
                        </div>

                    {{ form_end(trickForm) }}

                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}

    {{parent() }}

    <script src="{{ asset('js/display_media.js') }}"></script>
    <script src="{{ asset('js/delete_media.js') }}"></script>
    <script src="{{ asset('js/addForm_video.js') }}"></script>

{% endblock %}