{% extends 'base.html.twig' %}

{% block title %}Ajout d'une figure{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-3 mb-5 text-center">Ajouter une figure de Snowboard</h1>

                {{ form_start(trickForm) }}

                    {{ include('trick/_form.html.twig') }}

                    {{ include('image/new_featuredImage.html.twig') }}

                    {{ include('image/new_image.html.twig') }}

                    {{ include('video/new_video.html.twig') }}

                    <div class="d-grid col-8 mx-auto">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>

            {{ form_end(trickForm) }}

            </div>
        </div>
    </div>

    <script src="{{ asset('js/addForm_video.js') }}"></script>

{% endblock %}