{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="card p-2 mt-3 mb-3">
            {{ include('image/show.html.twig') }}
            {{ include('video/show.html.twig') }}
            <hr>
            <div class="col-10 align-self-center">
                <p class="p-2">{{ trick.description | nl2br }}</p>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2 class="m-0">{{ trick.name }}</h2>
                    <span class="badge bg-info">{{ trick.category.name }}</span>
                </div>
                <div>
                    <p class="m-0">Par {{ trick.users.username }}, le {{ trick.createdAt | date("d/m/Y") }}</p>
                </div>
                {% if trick.updatedAt is not empty %}
                    <div>
                        <p class="m-0">Mis à jour le {{ trick.updatedAt | date("d/m/Y") }}</p>
                    </div>
                {% endif %}
            </div>
            <hr>
            <h2 class="text-center">Commentaires</h2>
        </div>
    </div>

{% endblock %}
