{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="card p-2 mt-3 mb-3">

            <!-- TRICK SPACE ------------------------>

            <!-- Trick name & photo ------------------------>
            <div class="container-fluid p-0 position-relative">
                <div class="alert alert-dismissible alert-light position-absolute top-50 start-50 translate-middle" style="opacity: 0.6; width: 350px; height:70px">
                </div>

                <h2 class="text-center text-dark position-absolute top-50 start-50 translate-middle">{{ trick.name }}</h2>

                {% if trick.images|length > 0 %}
                    <img src="{{trick.images[0].path}}" class="card-img-top rounded-2" alt="{{trick.images[0].name}}">
                {% else %}
                    <img src="https://unsplash.com/photos/xSNaPoQ0H9M/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NHx8bW91bnRhaW4lMjBzbm93Ym9hcmR8ZW58MHx8fHwxNjU5NjMxNTQz&force=true" class="card-img-top" alt="Default image">
                {% endif %}
            </div>
            <!-- Photos ------------------------>
            <div class="d-flex flex-wrap justify-content-center">
                {% if trick.images is not empty %}
                    <!--Set total videos -1 on a variable > because the array start at 0 -->
                    {% set totimage = trick.images | length - 1 %}
                    <!-- For number between 0 and the total videos -->
                    {% for number in 0..totimage %}
                        <img src="{{trick.images[number].path}}" class="w-25 p-3" alt="{{ trick.images[number].name}}">
                    {% endfor %}
                {% endif %}
            </div>
            <!-- Videos ------------------------>
            <div class="d-flex flex-wrap justify-content-center">
                    {% if trick.videos is not empty %}
                        <!--Set total videos -1 on a variable > because the array start at 0 -->
                        {% set totvideos = trick.videos | length - 1 %}
                        <!-- For number between 0 and the total videos -->
                        {% for nb in 0..totvideos %}
                            <div class="medias d-flex justify-content-center m-2">
                                <iframe
                                        width="380"
                                        height="230"
                                        src="{{trick.videos[nb].link}}"
                                        title="Video Player"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen
                                >
                                </iframe>
                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
            <hr>
            <!-- Trick description ------------------------>
            <div class="col-10 align-self-center">
                <p class="p-2">{{ trick.description }}</p>
            </div>
            <hr>
            <!-- Name and category ------------------------>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2 class="m-0">{{ trick.name }}</h2>
                    <span class="badge bg-info">{{ trick.category.name }}</span>
                </div>
                <div>
                    <p class="m-0">Par {{ trick.users.username }}, le {{ trick.createdAt | date("d/m/Y") }}</p>
                </div>
                {% if trick.updatedAt is not empty %}
                    <div>
                        <p class="m-0">Mis à jour le {{ trick.updatedAt | date("d/m/Y") }}</p>
                    </div>
                {% endif %}
            </div>
            <hr>

            <!-- COMMENT SPACE ------------------------>

            <h2 class="text-center">Commentaires</h2>

        </div>
    </div>

{% endblock %}
